.calendeers {
  font: 12px/16px "Helvetica Nueue", Helvetica, Arial, sans-serif;
  color: #395069;
  text-align: center;
  overflow: hidden;
  width: 410px;
  margin-left: 180px;
  margin-top: 15px;
}

.calendeer {
  margin: 5px;
  width: 195px;
  float: left;
}

.calendeer-previous,
.calendeer-next {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  border: 0 solid #b7cfdf;
}

.calendeer-previous {
  left: 0;
  border-right-width: 1px;
}

.calendeer-next {
  right: 0;
  border-left-width: 1px;
}

.calendeer-header {
  position: relative;
  border: 1px solid #b7cfdf;
  line-height: 2em;
  border-radius: 5px;
  background-color: #f2f7fa;
  color: #6e788b;
}

.calendeer-grid {
  margin: 3px;
}

.calendeer-grid-header,
.calendeer-week-row {
  overflow: hidden;
}

.calendeer-day-name,
.calendeer-day {
  width: 23px;
  margin: 2px;
  float: left;
  border-radius: 2px;
}

.calendeer-day {
  background-color: #f4f6fa;
}

.calendeer-day.empty {
  background-color: transparent;
}

.calendeer-day.past {
  color: #bbb;
  background-color: transparent;
}

.calendeer-day.today {
  font-weight: bold;
}

.calendeer-day.start-date,
.calendeers.start-focus .calendeer-day.hovered,
.calendeers.start-focus.end-date .after-date.hovered {
  background-color: #3bd521;
  color: white;
}

.calendeer-day.end-date,
.calendeers.end-focus .calendeer-day.hovered,
.calendeers.end-focus.start-date .before-date.hovered {
  background-color: #e39937;
  color: white;
}

.calendeer-day.start-end-date,
.calendeers.start-focus .calendeer-day.end-date.hovered,
.calendeers.end-focus .calendeer-day.start-date.hovered {
  background: url(data:image/gif;base64,R0lGODdhFwAQAIQBAOKZN+OZN+CaN9edNeGaN96bNtycNtGgNb6mMsijM8WkM7OqMZ6xLqKwL6avL4+3LJC3LIG8Kni/KWzEJ1nKJVPMJF7JJlLNJEnQI0PSIkrQIz7UITvVIeOZN+OZN+OZNywAAAAAFwAQAAAFUyAnjmRpUoqpqg4grDBXHUHwxiYE1AGBk5oEr+b7cSKCIfGXQSh5ANzE8ITCNovqMKqyDLRbFWMHtpIutHJ49CCrzRjhWxmVFOZPQAPA7/v/gAQhADs=) 50% 50% no-repeat;
  color: white;
}

.calendeer-day.between-date {
  background-color: #80b5ea;
  color: white;
}

.calendeers.end-focus.start-date .before-date,
.calendeers.start-focus.end-date .after-date {
  background-color: #dedede;
  color: gray;
}

.calendeer_start_input_calendeer {
  min-width: 0 !important;
  width: 150px !important;
  margin-right: 5px;
}

.calendeer_end_input_calendeer {
  min-width: 0 !important;
  width: 150px !important;
  margin-right: 5px;
}

.calendeer_start_input_time_calendeer {
  min-width: 0 !important;
  width: 150px !important;
}

.calendeer_end_input_time_calendeer {
  min-width: 0 !important;
  width: 150px !important;
}

.calendeer-focused-input-start {
  border: 1px solid #3bd521 !important;
}

.calendeer-focused-input-end {
  border: 1px solid #e39937 !important;
}
